<div class="row">
    <div class="col-md-12 search-header">
      <input [(ngModel)]="searchText" placeholder="Buscar..." class="form-control mb-4 search-input">
    </div>
</div>

<div class="container mt-5 main-container" >
    <div class="row">
      <div class="col-md-6 mb-4" *ngFor="let item of catalogos | geoLocationFilterPipe: searchText">
        <div class="card">
          <div class="card-header text-white">
            {{ item.bank_id }}
          </div>
          <div class="card-body">
            <p class="card-text">{{ item.description }}</p>
          </div>
          <div class="card-footer bg-light">
            {{ item.code }}
          </div>
        </div>
      </div>
    </div>
</div>